%header {
  font-size: 2.5rem;
  font-weight: 700;
}

%section-title {
  font-size: 2rem;
  font-weight: 700;
}

%side-bar-element {
  font-size: 1.5rem;
  font-weight: 700;
}

%info-text {
  font-size: 1.5rem;
  font-weight: 400;
}

%chat-content {
  font-size: 1.5rem;
  font-weight: 400;
}

%position-item {
  font-size: 2rem;
  font-weight: 400;
}
