.container {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  padding: 2rem calc((100vw - 30rem) / 2);
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1301;
}
