// Colors

$main-component-color20: #596aff20;
$main-component-color40: #596aff40;
$main-component-color60: #596aff60;
$main-component-color80: #596aff80;
$main-component-color: #596aff;

$secondary-component-color: #ececec;
$tertiary-component-color: #cecece;
$main-text-color: #ffffff;
$secondary-text-color: #fa8334;
$background-color: #ffffff;

// Sizes
$bars-padding: 1.6rem;
$icon-size: 4.8rem;
$logo-height: 5.2rem;
$header-height: calc(2 * $bars-padding + $logo-height);

// Fonts
$font-roboto: 'Roboto';

// Misc
$z-indexes: 'loading', 'content';
